{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
    "mocha": true
  },
  "rules": {
    "quotes": [1, "single"],
    "no-console": 1,
    "no-debugger": 1,
    "no-var": 1,
    "semi": [1, "always"],
    "no-trailing-spaces": 0,
    "eol-last": 0,
    "no-unused-vars": 0,
    "no-underscore-dangle": 0,
    "no-alert": 0,
    "no-lone-blocks": 0,
    "indent": ["warn", 2, { "SwitchCase": 1 }],
    "eqeqeq": 2,
    "no-implicit-globals": 2,
    "radix": 1,
    "strict": 2,
    "brace-style": 1,
    "comma-style": 2,
    "key-spacing": 1,
    "keyword-spacing": 1,
    "linebreak-style": 2,
    "no-useless-escape": 0
  }
}
